fastapi
uvicorn
python-dotenv
openai
langchain-openai
langchain
langgraph
langchain-community
langchain-tavily
tavily-python
finnhub-python
yfinance
pandas
stockstats
chromadb
pydantic
pymongo
certifi
sse-starlette
